

/* default cookie_compliance markup as hidden to stop flash of content */
/* but js so it can calculates height*/
div.cookie-compliance{
    display : none; 
}

/* BASIC ELEMENTS ========================================================= */

div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-request-consent,
div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-optout,
div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-implied {
  clear: both;
  float: left;
  width: 100%;
  background-color: #3a3a3a;
  color: #fff;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  margin: 15px 0;
  padding: 15px 0; /* do not pad left and right, not dynamic */
}

div#block-cookie_compliance-cookie-compliance-splash a:link,
div#block-cookie_compliance-cookie-compliance-splash a:visited,
div#block-cookie_compliance-cookie-compliance-splash a:active {
  color: #fff;
  text-decoration: underline;
}

div#block-cookie_compliance-cookie-compliance-splash ::selection {
  background: #3f9439;
  color: #fff;
}
div#block-cookie_compliance-cookie-compliance-splash ::-moz-selection {
  background: #3f9439;
  color: #fff;
}

div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-request-consent p {
  /* Floats and widths to allow content to fit dynamically in 100% div*/
  float: left;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  padding: 15px 100px;
  margin: 0;
}

div#block-cookie_compliance-cookie-compliance-splash strong {
  /* Strong to avoid header pollution*/
  float: left;
  padding: 15px 100px 0 100px;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

div#block-cookie_compliance-cookie-compliance-splash em {
  font-style: normal;
  font-weight: bold;
}

/* Optout Nag ------------------------------------------------------------- */

div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-optout p,
div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-implied p {
  padding: 15px;
  float: left;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  width: 77%;
}

div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-optout-form {
  /*not exactly as per design, but made as minimal as possible*/
  float: right;
  padding: 15px;
  width: 15%;
}

div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-optout-form input {
  float: right;
}


/* Buttons ---------------------------------------------------------------- */

div#block-cookie_compliance-cookie-compliance-splash #cookie-compliance-request-consent form {
  float: left;
  padding: 15px 100px;
}

div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept,
div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept-1 { 
  float: left;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  
  border-style: #53c54b #4cb645 #1c431a #4cb645;
  
  background-color: #53c54b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#53c54b), to(#3f9439));
  background-image: -webkit-linear-gradient(top, #53c54b, #3f9439);
  background-image:    -moz-linear-gradient(top, #53c54b, #3f9439);
  background-image:     -ms-linear-gradient(top, #53c54b, #3f9439);
  background-image:      -o-linear-gradient(top, #53c54b, #3f9439);
  background-image:         linear-gradient(to bottom, #53c54b, #3f9439);
}

div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept-1 {
  font-size: 15px;
  padding: 5px;
}

div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept:hover,
div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept:active,
div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept:focus,
div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept-1:hover,
div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept-1:active,
div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-accept-1:focus { 
  
  border-style: #3a3a3a #3a3a3a #3a3a3a #3a3a3a;
  
  background-color: #53c54b;
  background-image: none;
}

div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-reject {
  padding: 16px;
  background : none;
  border : 0;
  text-decoration : underline;
  font-size: 15px;
  text-transform: none;
  font-family: Verdana, Helvetica, sans-serif;
}

div#block-cookie_compliance-cookie-compliance-splash form input#edit-cookie-compliance-reject:hover {
  text-decoration : none;
}


div#block-cookie_compliance-cookie-compliance-splash p.cookie-compliance-close {
  float: right;
  padding: 65px 15px 0 0;
}

div#block-cookie_compliance-cookie-compliance-splash a#cookie-compliance-close {
  background: transparent url('close.png') no-repeat right top;
  padding-right: 30px;
  height: 20px;
  float: right;
}
